.image img{
    width: 50%;
}
@media (max-width: 450px){
    
    .count{
        font-size: 30px!important;
    }
}

@media (min-width: 350px) and (max-width: 500px){
   
    .image img{
        width: 100%;
    }
}
@media (max-width: 600px){
    .image img{
        width: 100%!important;
    }
    .image{
        display: block!important;
    }
}
@media (min-width: 880px){
    
    .count-blocks {
        padding: 0 5%!important;
    }
}
@media (min-width: 768px) and (max-width: 1095px){
    .count{
        font-size: 30px!important;
    }
}